autovar==0.0.1a8
bistiming==0.4.0
cvxpy
cvxopt
Cython==0.29.13
joblib==0.14.1
mkdir_p==0.1.1
numpy==1.19.4
foolbox==3.3.1
scipy==1.6.0
tqdm==4.41.0
tensorflow
torch
torchvision
networkx==2.4
statsmodels
scikit-image==0.17.2
scikit-learn==0.24.1
robustness==1.2.1.post1
eif==2.0.2
numba
ipdb
